<footer class=" footer">
  <div class=" container-fluid">
    <!--<ul class=" nav">
      <li class=" nav-item">
        <a
          class=" nav-link"
          href="#"
        >
          About DinnerToken
        </a>
      </li>
      <li class=" nav-item">
        <a
          class=" nav-link"
          href="#"
        >
          Blog
        </a>
      </li>
    </ul>
    <div class=" copyright">
      made with
      <i class=" tim-icons icon-heart-2"> </i> 
      and kisses - devs
    </div>-->
  </div>
</footer>
