<div class=" content">
  
  <div class=" row">
    <div class=" col-md-12">
      <h2>Stake your DINR</h2>
    </div>
  </div>

    <div class=" row">

      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Stake DINR - Earn DSRT</h4>
          </div>
          <div class=" card-body">
            <form class=" form-horizontal">
              <div class=" row">
                <div class=" col-md-6"><label class=" col-form-label"> Total Deposits: 1234 DINR </label></div>
                <div class=" col-md-6"><label class=" col-form-label"> Pool Rate: 215 DSRT / hour </label></div>
              </div>
              <div class=" mt-3 row">
                <div class=" col-md-12">
                  <div class=" form-group">
                    <input class=" form-control" type="text" />
                  </div>
                </div>
              </div>
              <div class=" row">
                <div class=" col-md-6"><label class=" col-form-label"> Staked DINR: 3.2 DINR </label></div>
                <div class=" col-md-6"><label class=" col-form-label"> Earned DSRT: 3.2 DSRT </label></div>
              </div>
            </form>
          </div>
          <div class=" card-footer">
            <form class=" form-horizontal">
              <div class=" row">
                <div class=" col-md-12">
                  <button class=" btn btn-fill btn-primary" type="button">
                    Stake
                  </button>
                  <button class=" btn btn-fill btn-primary" type="button">
                    Withdraw
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Stake DINR LP - Earn LQR</h4>
          </div>
          <div class=" card-body">
            <form class=" form-horizontal">
              <div class=" row">
                <div class=" col-md-6"><label class=" col-form-label"> Total Deposits: 234 DINR LP</label></div>
                <div class=" col-md-6"><label class=" col-form-label"> Pool Rate: 23 LIQR / hour </label></div>
              </div>
              <div class=" mt-3 row">
                <div class=" col-md-12">
                  <div class=" form-group">
                    <input class=" form-control" type="text" />
                  </div>
                </div>
              </div>
              <div class=" row">
                <div class=" col-md-6"><label class=" col-form-label"> Staked DINR LP: 3.2 DINR LP </label></div>
                <div class=" col-md-6"><label class=" col-form-label"> Earned LQR: 3.2 DSRT </label></div>
              </div>
            </form>
          </div>
          <div class=" card-footer">
            <form class=" form-horizontal">
              <div class=" row">
                <div class=" col-md-12">
                  <button class=" btn btn-fill btn-primary" type="button">
                    Stake
                  </button>
                  <button class=" btn btn-fill btn-primary" type="button">
                    Withdraw
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
  