<div class="modal-content">
  <div class="modal-header">
    <h6>{{ itemId }}</h6>
    <button
      type="button"
      class="close"
      aria-label="Close"
      data-dismiss="modal"
      (click)="close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-category">{{ itemTypeTitle }}</h5>
            <h4 class="card-title">
              <i class="tim-icons {{ itemTypeIcon }} text-primary"> </i>
              {{ itemId }}
            </h4>
          </div>
          <div class="card-body">
            <app-item-visualizer
              itemId="{{ itemId }}"
              class="large-visualizer"
            ></app-item-visualizer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
