<div class="modal-content">
  <div class="modal-header">
    <h6>{{ itemId }}</h6>
    <button
      type="button"
      class="close"
      aria-label="Close"
      data-dismiss="modal"
      (click)="close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-header">
        <h5 class="card-category">{{ itemTypeTitle }}</h5>
        <h4 class="card-title">
          <i class="tim-icons {{ itemTypeIcon }} text-primary"> </i>
          {{ itemTitle }}
        </h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-9">
            <app-item-visualizer
              canvasWidth="400"
              canvasHeight="400"
              itemId="{{ itemId }}"
              class="large-visualizer"
            ></app-item-visualizer>
          </div>
          <div class="col-md-3">
            <table class="table">
              <tbody>
                <tr>
                  <td>Type</td>
                  <td>{{ itemTypeTitle }}</td>
                </tr>
                <tr *ngIf="itemType === 3">
                  <td>Rarity</td>
                  <td>{{ itemRarity }}</td>
                </tr>
                <tr *ngIf="itemType === 3">
                  <td>DNA</td>
                  <td>{{ itemDNAString }}</td>
                </tr>
                <tr *ngIf="itemType === 3">
                  <td>Engravings</td>
                  <td>
                    <table class="table">
                      <thead>
                        <tr>
                          <td>Engraver</td>
                          <td>Engraving</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let engraving of engravings">
                          <td>{{ makeCompact(engraving.address) }}</td>
                          <td>{{ engraving.engraving }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button
          *ngIf="
            itemType === 3 && this.itemQuantity && this.itemQuantity !== '0'
          "
          class="btn btn-fill btn-primary"
          disabled="{{ buttonEnabled }}"
          (click)="handleEngraveClick()"
          type="button"
        >
          {{ buttonText }}
        </button>
      </div>
    </div>
  </div>
</div>
