<div class="content">
  <div class="row">
    <div class="col-md-12">
      <h2>Forge New Items</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <app-balance-panel type="1"></app-balance-panel>
    </div>

    <div class="col-lg-4 col-md-4">
      <app-balance-panel type="2"></app-balance-panel>
    </div>

    <div class="col-lg-4 col-md-4">
      <app-balance-panel type="3"></app-balance-panel>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-forge-item></app-forge-item>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Recently forged items</h2>
    </div>
  </div>

  <app-item-list></app-item-list>
</div>
