<div class="content">
  <div class="row">
    <div class="col-md-12">
      <h2>Forge New Items</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <app-balance-panel type="1"></app-balance-panel>
    </div>

    <div class="col-lg-4 col-md-4">
      <app-balance-panel type="2"></app-balance-panel>
    </div>

    <div class="col-lg-4 col-md-4">
      <app-balance-panel type="3"></app-balance-panel>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-forge-item></app-forge-item>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Recently forged items</h2>
    </div>
  </div>

  <div *ngIf="hasNFTItems" class="row">
    <div *ngFor="let nftItem of nftItems" class="col-lg-4">
      <app-item-panel itemId="{{ nftItem.toHexString() }}"></app-item-panel>
    </div>
  </div>

  <div *ngIf="!hasNFTItems" class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">No NFT Items</h4>
        </div>
        <div class="card-body">
          You haven't forged any NFT items yet and have none in your inventory.
        </div>
      </div>
    </div>
  </div>
</div>
