<div class="card">
  <div class="card-header"><h4>Forging Difficulties</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Type</th>
                <th>Target</th>
                <th>Span</th>
                <th>Difficulty</th>
                <th>Catalyst-adjusted Difficulty</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of forgingDifficulties">
                <th>{{item.type}}</th>
                <th>{{item.target}}</th>
                <th>{{item.span}}</th>
                <th>{{item.difficulty}}</th>
                <th>{{item.adjustedDifficulty}}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
