<div class="content">
  <div class="row">
    <div class="col-md-12">
      <h2>Protocol Statistics</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Token Supply</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Total Radius Gas Supply</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-bell-55 text-primary"> </i>
            {{ gasTotalSupply }}
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area"><canvas id="chartLineRed"> </canvas></div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Total Radius Catalyst Supply</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-delivery-fast text-info"> </i>
            {{ catalystTotalSupply }}
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area"><canvas id="CountryChart"> </canvas></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Forged Items</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-primary">
                <i class="tim-icons icon-shape-star"> </i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">Gems Forged</p>
                <h3 class="card-title">{{ gemTotalSupply }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-success">
                <i class="tim-icons icon-shape-star"> </i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">Powerups Forged</p>
                <h3 class="card-title">{{ powerupTotalSupply }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-danger">
                <i class="tim-icons icon-molecule-40"> </i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">Relics Forged</p>
                <h3 class="card-title">{{ relicTotalSupply }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-3 col-lg3">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Last Gem Found</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-bell-55 text-primary"> </i>
            {{ lastGemMintedId }}
          </h3>
        </div>
        <div class="card-body" *ngIf="lastGemMintedId !== undefined">
          <app-item-visualizer
            itemId="{{ lastGemMintedId }}"
            class="card-visualizer"
          ></app-item-visualizer>
        </div>
        <div
          class="card-body text-center"
          *ngIf="lastGemMintedId === undefined"
        >
          No gems forged yet.
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Rarest Gem Forged</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-bell-55 text-primary"> </i>
            {{ rarestGemForgedId }}
          </h3>
        </div>
        <div class="card-body" *ngIf="rarestGemForgedId !== undefined">
          <app-item-visualizer
            itemId="{{ rarestGemForgedId }}"
            class="card-visualizer"
          ></app-item-visualizer>
        </div>
        <div
          class="card-body text-center"
          *ngIf="rarestGemForgedId === undefined"
        >
          No gems forged yet.
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Last Powerup Found</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-bell-55 text-primary"> </i>
            {{ lastPowerupMintedId }}
          </h3>
        </div>
        <div class="card-body" *ngIf="lastPowerupMintedId !== undefined">
          <app-item-visualizer
            itemId="{{ lastPowerupMintedId }}"
            class="card-visualizer"
          ></app-item-visualizer>
        </div>
        <div
          class="card-body text-center"
          *ngIf="lastPowerupMintedId === undefined"
        >
          No powerups forged yet.
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Last Relic Forged</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-bell-55 text-primary"> </i>
            {{ lastRelicMintedId }}
          </h3>
        </div>
        <div class="card-body" *ngIf="lastRelicMintedId !== undefined">
          <app-item-visualizer
            itemId="{{ lastRelicMintedId }}"
            class="card-visualizer"
          ></app-item-visualizer>
        </div>
        <div
          class="card-body text-center"
          *ngIf="lastRelicMintedId === undefined"
        >
          No relics forged yet.
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="hasGlobalItems" class="row">
    <div *ngFor="let nftItem of globalItems" class="col-sm-6 col-md-3 col-lg-2">
      <app-item-panel
        itemId="{{ nftItem.forgedIndex.toHexString() }}"
      ></app-item-panel>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Contract Addresses</h3>
    </div>
    <div class="col-md-12">
      <app-forging-difficulties-panel></app-forging-difficulties-panel>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Contract Addresses</h3>
    </div>
    <div class="col-md-12">
      <app-contract-addresses-panel></app-contract-addresses-panel>
    </div>
  </div>
</div>
