<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <h2>Protocol Statistics</h2>
    </div>
  </div>

  <div class=" row">
    <div class=" col-md-12">
      <h3>Token Supply</h3>
    </div>
  </div>

  <div class=" row">
  
      <div class=" col-lg-4">
        <div class=" card card-chart">
          <div class=" card-header">
            <h5 class=" card-category">Total DessertToken Supply</h5>
            <h3 class=" card-title">
              <i class=" tim-icons icon-bell-55 text-primary"> </i> 763,215
            </h3>
          </div>
          <div class=" card-body">
            <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div>
          </div>
        </div>
      </div>
  
      <div class=" col-lg-4">
        <div class=" card card-chart">
          <div class=" card-header">
            <h5 class=" card-category">Total LiquorToken Supply</h5>
            <h3 class=" card-title">
              <i class=" tim-icons icon-delivery-fast text-info"> </i> 3,500
            </h3>
          </div>
          <div class=" card-body">
            <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
          </div>
        </div>
      </div>

      <div class=" col-lg-4">
        <div class=" card card-chart">
          <div class=" card-header">
            <h5 class=" card-category">Daily Forged Items</h5>
            <h3 class=" card-title">
              <i class=" tim-icons icon-send text-success"> </i> 123
            </h3>
          </div>
          <div class=" card-body">
            <div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>
          </div>
        </div>
      </div>
    
    </div>

    <div class=" row">
      <div class=" col-md-12">
        <h3>Forged Items</h3>
      </div>
    </div>
    <div class=" row">  

      <div class=" col-lg-6 col-md-6">
        <div class=" card card-stats">
          <div class=" card-body">
            <div class=" row">
              <div class=" col-5">
                <div class=" info-icon text-center icon-primary">
                  <i class=" tim-icons icon-shape-star"> </i>
                </div>
              </div>
              <div class=" col-7">
                <div class=" numbers">
                  <p class=" card-category">Gems Forged</p>
                  <h3 class=" card-title">12,163</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class=" col-lg-6 col-md-6">
        <div class=" card card-stats">
          <div class=" card-body">
            <div class=" row">
              <div class=" col-5">
                <div class=" info-icon text-center icon-success">
                  <i class=" tim-icons icon-shape-star"> </i>
                </div>
              </div>
              <div class=" col-7">
                <div class=" numbers">
                  <p class=" card-category">Powerups Forged</p>
                  <h3 class=" card-title">157</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-lg-6 col-md-6">
        <div class=" card card-stats">
          <div class=" card-body">
            <div class=" row">
              <div class=" col-5">
                <div class=" info-icon text-center icon-danger">
                  <i class=" tim-icons icon-molecule-40"> </i>
                </div>
              </div>
              <div class=" col-7">
                <div class=" numbers">
                  <p class=" card-category">Relics Forged</p>
                  <h3 class=" card-title">3</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class=" col-lg-6 col-md-6">
        <div class=" card card-stats">
          <div class=" card-body">
            <div class=" row">
              <div class=" col-5">
                <div class=" info-icon text-center icon-danger">
                  <i class=" tim-icons icon-molecule-40"> </i>
                </div>
              </div>
              <div class=" col-7">
                <div class=" numbers">
                  <p class=" card-category">Medallions Forged</p>
                  <h3 class=" card-title">3</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class=" col-lg-3">
        <div class=" card card-chart">
          <div class=" card-header">
            <h5 class=" card-category">Last Unique Gem Found</h5>
            <h3 class=" card-title">
              <i class=" tim-icons icon-bell-55 text-primary"> </i> 763,215
            </h3>
          </div>
          <div class=" card-body">
            <app-item-visualizer class="card-visualizer"></app-item-visualizer>
          </div>
        </div>
      </div>
  
      <div class=" col-lg-3">
        <div class=" card card-chart">
          <div class=" card-header">
            <h5 class=" card-category">Last Powerup Found</h5>
            <h3 class=" card-title">
              <i class=" tim-icons icon-bell-55 text-primary"> </i> 763,215
            </h3>
          </div>
          <div class=" card-body">
            <app-item-visualizer class="card-visualizer"></app-item-visualizer>
          </div>
        </div>
      </div>
      
      <div class=" col-lg-3">
        <div class=" card card-chart">
          <div class=" card-header">
            <h5 class=" card-category">Last Relic Forged</h5>
            <h3 class=" card-title">
              <i class=" tim-icons icon-bell-55 text-primary"> </i> 763,215
            </h3>
          </div>
          <div class=" card-body">
            <app-item-visualizer class="card-visualizer"></app-item-visualizer>
          </div>
        </div>
      </div>

      <div class=" col-lg-3">
        <div class=" card card-chart">
          <div class=" card-header">
            <h5 class=" card-category">Last Medallion Forged</h5>
            <h3 class=" card-title">
              <i class=" tim-icons icon-bell-55 text-primary"> </i> 763,215
            </h3>
          </div>
          <div class=" card-body">
            <app-item-visualizer class="card-visualizer"></app-item-visualizer>
          </div>
        </div>
      </div>
    </div>
  
    <div class=" row">
      <div class=" col-lg-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Latest Items Found</h4>
            <p class=" card-category">All products that were shipped</p>
          </div>
          <div class=" card-body">
            <div class=" row">
              <div class=" col-md-9">
                <div class=" table-responsive">
                  <table class=" table">
                    <tbody>
                      <tr>
                        <th>timestamp</th>
                        <th>type</th>
                        <th>item</th>
                        <th>finder</th>
                      </tr>
                      <tr>
                        <td>123456789</td>
                        <td class=" text-right">gem</td>
                        <td class=" text-right">0xaDB2437e6F65682B85F814fBc12FeC0508A7B1D0</td>
                        <td class=" text-right">0xaDB2437e6F65682B85F814fBc12FeC0508A7B1D0</td>
                      </tr>
                      <tr>
                        <td>123456789</td>
                        <td class=" text-right">powerup</td>
                        <td class=" text-right">0xaDB2437e6F65682B85F814fBc12FeC0508A7B1D0</td>
                        <td class=" text-right">0xaDB2437e6F65682B85F814fBc12FeC0508A7B1D0</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class=" col-md-3 ml-auto mr-auto">
                <app-item-visualizer class="card-visualizer"></app-item-visualizer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  