<div class=" content">

      <div class=" row">
        <div class=" col-md-12">
          <h2>Wallet</h2>
        </div>
      </div>

      <div class=" row">
        <div class=" col-md-12">
          <h3>Fungible Tokens</h3>
        </div>
      </div>

      <div class=" row">

        <div class=" col-lg-4">
            <div class=" card card-chart">
              <div class=" card-header">
                <h5 class=" card-category">DINR Balance</h5>
                <h3 class=" card-title">
                  <i class=" tim-icons icon-bell-55 text-primary"> </i> 763,215
                </h3>
              </div>
              <div class=" card-body">
              </div>
            </div>
          </div>

        <div class=" col-lg-4">
          <div class=" card card-chart">
            <div class=" card-header">
              <h5 class=" card-category">DSRT Balance</h5>
              <h3 class=" card-title">
                <i class=" tim-icons icon-bell-55 text-primary"> </i> 763,215
              </h3>
            </div>
            <div class=" card-body">
            </div>
          </div>
        </div>
    
        <div class=" col-lg-4">
          <div class=" card card-chart">
            <div class=" card-header">
              <h5 class=" card-category">LQR Balance</h5>
              <h3 class=" card-title">
                <i class=" tim-icons icon-delivery-fast text-info"> </i> 3,500
              </h3>
            </div>
            <div class=" card-body">
            </div>
          </div>
        </div>

    </div>

    <div class=" row">
      <div class=" col-md-12">
        <h3>Non-Fungible Tokens</h3>
      </div>
    </div>

      <div class=" row">

        <div class=" col-md-12">
            <!-- display an NFT - Gem, unique gem, -->  
            <div class=" card">
              <div class=" card-header">
                <h4 class=" card-title"><b>Unique Gem:</b> 0xaec2e87e0a235266d9c5adc9deb4b2e29b54d009</h4>
              </div>
              <div class=" card-body">
                <div class=" row">
                  <div class=" col-md-4">
                    <app-item-visualizer class="card-visualizer"></app-item-visualizer>
                  </div>
                  <div class=" col-md-8">
                    <div class=" row">
                      <div class=" col-md-4">Item ID</div>
                      <div class=" col-md-8">0xaec2e87e0a235266d9c5adc9deb4b2e29b54d009</div>
                    </div>
                    <div class=" row">
                      <div class=" col-md-4">Item Type</div>
                      <div class=" col-md-8">Unique Gem</div>
                    </div>
                    <div class=" row">
                      <div class=" col-md-4">Forge Timestamp</div>
                      <div class=" col-md-8">12345678</div>
                    </div>
                    <div class=" row">
                      <div class=" col-md-4">Forger</div>
                      <div class=" col-md-8">0xaec2e87e0a235266d9c5adc9deb4b2e29b54d009</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class=" card-footer"></div>
            </div>
          </div>

          
        <div class=" col-md-12">
          <!-- display an NFT - Gem, unique gem, -->  
          <div class=" card">
            <div class=" card-header">
              <h4 class=" card-title"><b>Unique Gem:</b> 0xaec2e87e0a235266d9c5adc9deb4b2e29b54d009</h4>
            </div>
            <div class=" card-body">
              <div class=" row">
                <div class=" col-md-4">
                  <app-item-visualizer class="card-visualizer"></app-item-visualizer>
                </div>
                <div class=" col-md-8">
                  <div class=" row">
                    <div class=" col-md-4">Item ID</div>
                    <div class=" col-md-8">0xaec2e87e0a235266d9c5adc9deb4b2e29b54d009</div>
                  </div>
                  <div class=" row">
                    <div class=" col-md-4">Item Type</div>
                    <div class=" col-md-8">Unique Gem</div>
                  </div>
                  <div class=" row">
                    <div class=" col-md-4">Forge Timestamp</div>
                    <div class=" col-md-8">12345678</div>
                  </div>
                  <div class=" row">
                    <div class=" col-md-4">Forger</div>
                    <div class=" col-md-8">0xaec2e87e0a235266d9c5adc9deb4b2e29b54d009</div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" card-footer"></div>
          </div>
        </div>

    </div>
    