<div class="content">
  <div class="row">
    <div class="col-md-12">
      <h2>Wallet</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Fungible Tokens</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6">
      <app-balance-panel type="0"></app-balance-panel>
    </div>

    <div class="col-lg-4 col-md-6">
      <app-balance-panel type="1"></app-balance-panel>
    </div>

    <div class="col-lg-4 col-md-6">
      <app-balance-panel type="2"></app-balance-panel>
    </div>

    <div class="col-lg-6 col-md-6">
      <app-balance-panel type="4"></app-balance-panel>
    </div>

    <div class="col-lg-6 col-md-6">
      <app-balance-panel type="3"></app-balance-panel>
    </div>

    <div class="col-md-12 mt-0 mb-3">
      <a href="#/wallet">take me to my wallet</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Non-Fungible Tokens</h3>
    </div>
  </div>

  <app-item-list></app-item-list>
</div>
