<div class="card">
  <div class="card-header">
    <h4 class="card-title">Radius to erc20 and back</h4>
  </div>
  <form [formGroup]="convertForm" class="form-horizontal">
    <div class="card-body">
      <div class="mt-3 row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Convert to</span>
              </div>
              <input
                class="form-control"
                formControlName="amount"
                placeholder="amount"
                type="text"
              />
              <div class="input-group-append">
                <angular2-multiselect
                  [data]="availableTo"
                  formControlName="to"
                  [settings]="{
                    singleSelection: true,
                    text: '',
                    classes: 'selectpicker btn-danger',
                    lazyLoading: true,
                    maxHeight: 100
                  }"
                >
                </angular2-multiselect>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="col-form-label">
            Catalyst Magnification Ratio: {{ catalystMagnificationRatio }}
          </label>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-12">
          <button
            class="btn btn-fill btn-primary"
            (click)="handleConvertClick()"
            [disabled]="!convertForm.valid"
            type="button"
          >
            Convert
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
