<div class="content">
  <div class="row">
    <div class="col-md-12">
      <h2>Convert to/from ERC20</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <app-balance-panel type="0"></app-balance-panel>
    </div>

    <div class="col-lg-4 col-md-4">
      <app-balance-panel type="1"></app-balance-panel>
    </div>

    <div class="col-lg-4 col-md-4">
      <app-balance-panel type="2"></app-balance-panel>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-convert-panel></app-convert-panel>
    </div>
  </div>
</div>
