<div class="content">
  <div class="row">
    <div class="col-md-12">
      <h2>Radius Dividends</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <app-dividends-balance-panel type="0"></app-dividends-balance-panel>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <app-dividends-balance-panel type="1"></app-dividends-balance-panel>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <app-dividends-balance-panel type="2"></app-dividends-balance-panel>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <app-dividends-balance-panel type="3"></app-dividends-balance-panel>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <app-dividends-balance-panel type="4"></app-dividends-balance-panel>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <app-dividends-balance-panel type="5"></app-dividends-balance-panel>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-collect-dividends-panel></app-collect-dividends-panel>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Previous Dividend Claims</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <app-previous-dividend-claims></app-previous-dividend-claims>
    </div>
  </div>
</div>
