<ul class="dropdown-menu dropdown-menu-right dropdown-navbar" *dropdownMenu>
  <li class="nav-link">
    <a class="nav-item dropdown-item" href="#">
      Mike John responded to your email
    </a>
  </li>
  <li class="nav-link">
    <a class="nav-item dropdown-item" href="javascript:void(0)">
      You have 5 more tasks
    </a>
  </li>
  <li class="nav-link">
    <a class="nav-item dropdown-item" href="javascript:void(0)">
      Your friend Michael is in town
    </a>
  </li>
  <li class="nav-link">
    <a class="nav-item dropdown-item" href="javascript:void(0)">
      Another notification
    </a>
  </li>
  <li class="nav-link">
    <a class="nav-item dropdown-item" href="javascript:void(0)">
      Another one
    </a>
  </li>
</ul>
