<div class=" content">

  <div class=" row">
    <div class=" col-md-12">
      <h2>On the Menu</h2>
    </div>
  </div>

  <div class=" row">
    <div class=" col-md-12">
      <h3>My Balances</h3>
    </div>
  </div>

  <div class=" row">

    <div class=" col-lg-4 col-md-4">
      <div class=" card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class=" col-5">
              <div class=" info-icon text-center icon-primary">
                <i class=" tim-icons icon-shape-star"> </i>
              </div>
            </div>
            <div class=" col-7">
              <div class=" numbers">
                <p class=" card-category">DINR Balance</p>
                <h3 class=" card-title">1268</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" col-lg-4 col-md-4">
      <div class=" card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class=" col-5">
              <div class=" info-icon text-center icon-success">
                <i class=" tim-icons icon-shape-star"> </i>
              </div>
            </div>
            <div class=" col-7">
              <div class=" numbers">
                <p class=" card-category">DSRT Balance</p>
                <h3 class=" card-title">157</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" col-lg-4 col-md-4">
      <div class=" card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class=" col-5">
              <div class=" info-icon text-center icon-danger">
                <i class=" tim-icons icon-molecule-40"> </i>
              </div>
            </div>
            <div class=" col-7">
              <div class=" numbers">
                <p class=" card-category">LQR Balance</p>
                <h3 class=" card-title">31</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" col-md-12 mt-0 mb-3">
      <a href="#">take me to my wallet</a>
    </div>

  </div>

  <div class=" row">
    <div class=" col-md-12">
      
    </div>
  </div>

  <div class=" row">
    <div class=" col-md-12">
      <h3>My Forged Items</h3>
    </div>
  </div>

  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Gem</h5>
          <h4 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-primary"> </i> 0xe882cc22...543aa8c9924a
          </h4>
        </div>
        <div class=" card-body">
          <app-item-visualizer class="card-visualizer"></app-item-visualizer>
        </div>
      </div>
    </div>

    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Matched Gem</h5>
          <h4 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-primary"> </i> 0xb705268...3aff5cbdcfae
          </h4>
        </div>
        <div class=" card-body">
          <app-item-visualizer class="card-visualizer"></app-item-visualizer>
        </div>
      </div>
    </div>

    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Powerup</h5>
          <h4 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-primary"> </i> 0x82462156e...71aaa351d4
          </h4>
        </div>
        <div class=" card-body">
          <app-item-visualizer class="card-visualizer"></app-item-visualizer>
        </div>
      </div>
    </div>
    <div class=" col-md-12 mt-0 mb-3">
      <a href="#">See all my items</a>
    </div>
  </div>

  <div class=" row">
    <div class=" col-md-12">
      <h2>My Staked Tokens</h2>
    </div>

    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Stake DINR - Earn DSRT</h4>
        </div>
        <div class=" card-body">
          <form class=" form-horizontal">
            <div class=" row">
              <div class=" col-md-6"><label class=" col-form-label"> Total Deposits: 1234 DINR </label></div>
              <div class=" col-md-6"><label class=" col-form-label"> Pool Rate: 215 DSRT / hour </label></div>
            </div>
            <div class=" mt-3 row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <input class=" form-control" type="text" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6"><label class=" col-form-label"> Staked DINR: 3.2 DINR </label></div>
              <div class=" col-md-6"><label class=" col-form-label"> Earned DSRT: 3.2 DSRT </label></div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <form class=" form-horizontal">
            <div class=" row">
              <div class=" col-md-12">
                <button class=" btn btn-fill btn-primary" type="button">
                  Stake
                </button>
                <button class=" btn btn-fill btn-primary" type="button">
                  Withdraw
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class=" col-md-12 mt-0 mb-3">
      <a href="#">Go to staking</a>
    </div>

  </div>

</div>
