<div class="content">
  <div class="row">
    <div class="col-md-12">
      <h2>Dashboard</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>My Balances</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-primary">
                <i class="tim-icons icon-shape-star"> </i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">Radius Balance</p>
                <h3 class="card-title">{{ radiusBalance | number: '1.18' }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-success">
                <i class="tim-icons icon-shape-star"> </i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">Radius Gas Balance</p>
                <h3 class="card-title">
                  {{ radiusGasBalance | number: '1.18' }}
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-danger">
                <i class="tim-icons icon-molecule-40"> </i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">Radius Catalyst Balance</p>
                <h3 class="card-title">
                  {{ radiusCatalystBalance | number: '1.18' }}
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 mt-0 mb-3">
      <a href="#">take me to my wallet</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12"></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>My Forged Items</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Gem</h5>
          <h4 class="card-title">
            <i class="tim-icons icon-bell-55 text-primary"> </i>
            0xe882cc22...543aa8c9924a
          </h4>
        </div>
        <div class="card-body">
          <app-item-visualizer class="card-visualizer"></app-item-visualizer>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Matched Gem</h5>
          <h4 class="card-title">
            <i class="tim-icons icon-bell-55 text-primary"> </i>
            0xb705268...3aff5cbdcfae
          </h4>
        </div>
        <div class="card-body">
          <app-item-visualizer class="card-visualizer"></app-item-visualizer>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Powerup</h5>
          <h4 class="card-title">
            <i class="tim-icons icon-bell-55 text-primary"> </i>
            0x82462156e...71aaa351d4
          </h4>
        </div>
        <div class="card-body">
          <app-item-visualizer class="card-visualizer"></app-item-visualizer>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-0 mb-3">
      <a href="#">See all my items</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>My Staked Tokens</h2>
    </div>

    <div *ngIf="stakedRadiusBalance > 0" class="col-md-12">
      <app-stake-token type="RAD"></app-stake-token>
    </div>

    <div *ngIf="stakedRadiusLPBalance > 0" class="col-md-12">
      <app-stake-token type="LP"></app-stake-token>
    </div>

    <div
      *ngIf="!(stakedRadiusBalance > 0) && !(stakedRadiusLPBalance > 0)"
      class="col-md-12"
    >
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">No tokens staked</h4>
        </div>
        <div class="card-body">
          You haven't staked any tokens yet. To stake your Radius or Radius LP,
          go to the <a href="#">staking tab</a>
        </div>
      </div>
    </div>
  </div>
</div>
