<div class="content">
  <div class="row">
    <div class="col-md-12">
      <h2>Dashboard</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>My Balances</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-6">
      <app-balance-panel type="0"></app-balance-panel>
    </div>

    <div class="col-lg-3 col-md-6">
      <app-balance-panel type="1"></app-balance-panel>
    </div>

    <div class="col-lg-3 col-md-6">
      <app-balance-panel type="2"></app-balance-panel>
    </div>

    <div class="col-lg-3 col-md-6">
      <app-balance-panel type="3"></app-balance-panel>
    </div>

    <div class="col-md-12 mt-0 mb-3">
      <a href="#">take me to my wallet</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12"></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>My Forged Items</h3>
    </div>
  </div>

  <div *ngIf="hasNFTItems" class="row">
    <div *ngFor="let nftItem of nftItems" class="col-lg-4">
      <app-item-panel itemId="{{ nftItem.toHexString() }}"></app-item-panel>
    </div>
  </div>

  <div *ngIf="!hasNFTItems" class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">No NFT Items</h4>
        </div>
        <div class="card-body">
          You haven't forged any NFT items yet and have none in your inventory.
          Go to the <a href="#">forging tab</a> to forge some.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>My Staked Tokens</h2>
    </div>

    <div *ngIf="stakedRadiusBalance > 0" class="col-md-12">
      <app-stake-token type="RAD"></app-stake-token>
    </div>

    <div *ngIf="stakedRadiusLPBalance > 0" class="col-md-12">
      <app-stake-token type="LP"></app-stake-token>
    </div>

    <div
      *ngIf="!(stakedRadiusBalance > 0) && !(stakedRadiusLPBalance > 0)"
      class="col-md-12"
    >
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">No tokens staked</h4>
        </div>
        <div class="card-body">
          You haven't staked any tokens yet. To stake your Radius or Radius LP,
          go to the <a href="#">staking tab</a> to stake some.
        </div>
      </div>
    </div>
  </div>
</div>
