<div class="card">
  <div class="card-header"><h4>Contract Addresses</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td style="text-align: right;">Radius ERC1155 Contract</td>
                <td>{{ radiusERC1155Address }}</td>
              </tr>
              <tr>
                <td style="text-align: right;">Radius ERC20 Contract</td>
                <td>{{ radiusERC20Address }}</td>
              </tr>
              <tr>
                <td style="text-align: right;">Radius UNI-V2 LP Contract</td>
                <td>{{ radiusERC20LPAddress }}</td>
              </tr>
              <tr>
                <td style="text-align: right;">Radius Gas ERC20 Contract</td>
                <td>{{ radiusGasERC20Address }}</td>
              </tr>
              <tr>
                <td style="text-align: right;">Radius Catalyst ERC20 Contract</td>
                <td>{{ radiusCatalystERC20Address }}</td>
              </tr>
              <tr>
                <td style="text-align: right;">Radius Lottery ERC20 Contract</td>
                <td>{{ radiusLotteryERC20Address }}</td>
              </tr>
              <tr>
                <td style="text-align: right;">Radius Gas Mine Contract</td>
                <td>{{ radiusGasMineAddress }}</td>
              </tr>
              <tr>
                <td style="text-align: right;">Radius Catalyst Mine Contract</td>
                <td>{{ radiusCatalystMineAddress }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
