<div class="card">
  <div class="card-header">
    <h4 class="card-title">Forge Items using Radius Gas and Catalyst</h4>
  </div>
  <form [formGroup]="forgeForm" class="form-horizontal">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <label class="col-form-label"> Forging Cost: 1 RADG </label>
        </div>
        <div class="col-md-6">
          <label class="col-form-label"> Catalyst Range: 0-1 RADC</label>
        </div>
      </div>
      <div class="mt-3 row">
        <div class="col-md-12">
          <div class="form-group">
            <input class="form-control" formControlName="amount" placeholder="Enter amount" type="text" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="col-form-label">
            Catalyst Magnification Ratio: {{ catalystMagnificationRatio }}
          </label>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-12">
          <button
            class="btn btn-fill btn-primary"
            (click)="handleForgeClick()"
            [disabled]="!forgeForm.valid"
            type="button"
          >
            Forge
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
