<div class="card">
  <div class="card-header">
    <h4 class="card-title">{{ title }}</h4>
  </div>
  <form [formGroup]="stakeForm" class="form-horizontal">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <label class="col-form-label">
            Total Deposits:
            {{ totalStakedBalance | number: '1.4' }} {{ stakedSymbol }}
          </label>
        </div>
        <div class="col-md-6">
          <label class="col-form-label">
            Pool Rate: {{ hourlyEarnRate }} {{ earnedSymbol }} / hour
          </label>
        </div>
      </div>
      <div *ngIf="!hasStakedTokens" class="mt-3 row">
        <div class="col-md-12">
          <div class="form-group">
            <input
              class="form-control"
              formControlName="amount"
              placeholder="Enter amount"
              (change)="inputAmountChange()"
              type="text"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="col-form-label">
            Staked {{ stakedSymbol }}: {{ stakedBalance | number: '1.4' }}
            {{ stakedSymbol }}
          </label>
        </div>
        <div class="col-md-6">
          <label class="col-form-label">
            Earned {{ earnedSymbol }}: {{ earnedBalance | number: '1.4' }}
            {{ earnedSymbol }}
          </label>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-12">
          <button
            class="btn btn-fill btn-primary"
            (click)="handleActionClick()"
            disabled="{{ actionButtonEnabled }}"
            type="button"
          >
            {{ actionButtonLabel }}
          </button>
          <button
            class="btn btn-fill btn-primary"
            (click)="handleHarvestClick()"
            disabled="{{ harvestButtonEnabled }}"
            type="button"
          >
            Harvest
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
