<div class="card">
  <div class="card-header">
    <h4 class="card-title">{{ title }}</h4>
  </div>
  <form [formGroup]="stakeForm" class="form-horizontal">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <label class="col-form-label">
            Total Deposits:
            {{ totalStakedBalance | number: '1.18' }} {{ stakedSymbol }}
          </label>
        </div>
        <div class="col-md-6">
          <label class="col-form-label">
            Pool Rate: {{ hourlyEarnRate }} {{ earnedSymbol }} / hour
          </label>
        </div>
      </div>
      <div class="mt-3 row">
        <div class="col-md-12">
          <div class="form-group">
            <input class="form-control" formControlName="amount" placeholder="Enter amount" type="text" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="col-form-label">
            Staked {{ stakedSymbol }}: {{ stakedBalance | number: '1.18' }}
            {{ stakedSymbol }}
          </label>
        </div>
        <div class="col-md-6">
          <label class="col-form-label">
            Earned {{ earnedSymbol }}: {{ earnedBalance | number: '1.18' }}
            {{ earnedSymbol }}
          </label>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-12">
          <button
            class="btn btn-fill btn-primary"
            (click)="handleStakeClick()"
            [disabled]="!stakeForm.valid"
            type="button"
          >
            Stake
          </button>
          <button
            class="btn btn-fill btn-primary"
            (click)="handleWithdrawClick()"
            [disabled]="!stakeForm.valid"
            type="button"
          >
            Withdraw
          </button>
          <button
            class="btn btn-fill btn-primary"
            (click)="handleHarvestClick()"
            [disabled]="!stakeForm.valid"
            type="button"
          >
            Harvest
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
