<div class=" content">
  
    <div class=" row">
      <div class=" col-md-12">
        <h2>Radius Lottery</h2>
      </div>
    </div>
  
  
    <div class=" row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <app-balance-panel type="1"></app-balance-panel>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <app-balance-panel type="2"></app-balance-panel>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <app-balance-panel type="3"></app-balance-panel>
      </div>
    </div>
    
    <div class=" row">
      <div class=" col-md-12">
        <app-check-lottery></app-check-lottery>
      </div>
    </div>

    <div class=" row">
        <div class=" col-md-12">
            <h3>Previous Lotters Winners</h3>
        </div>
    </div>

    <div class=" row">
        <div class=" col-lg-12">
          <div class=" card">
            <div class=" card-header">
              <h4 class=" card-title">Latest Items Found</h4>
              <p class=" card-category">All products that were shipped</p>
            </div>
            <div class=" card-body">
              <div class=" row">
                <div class=" col-md-12">
                  <div class=" table-responsive">
                    <table class=" table">
                      <tbody>
                        <tr>
                          <th>timestamp</th>
                          <th>winner</th>
                          <th>amount</th>
                        </tr>
                        <tr>
                          <td>123456789</td>
                          <td >0xaDB2437e...C0508A7B1D0</td>
                          <td >127,309</td>
                        </tr>
                        <tr>
                          <td>123456789</td>
                          <td >0xaDB2437e...C0508A7B1D0</td>
                          <td >127,309</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    