<div class="card card-stats">
  <div class="card-body">
    <div class="row">
      <div class="col-5">
        <div class="info-icon text-center icon-primary">
          <i class="tim-icons {{ tokenTypeIcon }}"> </i>
        </div>
      </div>
      <div class="col-7">
        <div class="numbers">
          <p class="card-category">{{ tokenTypeTitle }} Shares</p>
          <h4 class="card-title">Total: {{ tokenBalance | number: '1.4' }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
