<div class="content">
  <div class="row">
    <div class="col-md-12">
      <h2>Powerups</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-lg-6 col-md-6">
      <app-powerup-balance-panel type="0"></app-powerup-balance-panel>
    </div>

    <div class="col-sm-12 col-lg-6 col-md-6">
      <app-powerup-balance-panel type="1"></app-powerup-balance-panel>
    </div>

    <div class="col-sm-12 col-lg-6 col-md-6">
      <app-powerup-balance-panel type="2"></app-powerup-balance-panel>
    </div>

    <div class="col-sm-12 col-lg-6 col-md-6">
      <app-powerup-balance-panel type="3"></app-powerup-balance-panel>
    </div>
  </div>
</div>
